server {
   listen          80;
   server_name     ~^(.+)$, {{ project_url }};
   root           {{ project_dir }}/{{ project_slug }};

   gzip             on;
   gzip_min_length  1000;
   gzip_proxied     expired no-cache no-store private auth;
   gzip_types       text/plain application/xml;

   location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:{{ uwsgi_port }};
        }

    location /static {
        root {{ project_homedir }};
        }

    location /robots.txt {
        root {{ project_homedir }}/static;
        }

   access_log       /var/log/nginx/{{ project_url }}-access.log;
   error_log        /var/log/nginx/{{ project_url }}-errors.log;
}
